.full-wrapper{
    background-color: #f57c00;
}
.page-footer-copyright{
  background-color: #f57c00;
}
.btn{
  background-color:#212121;
}
img {
  border-radius: 50%;
}
h5 {
  text-align: center;
}
h6 {
  text-align: center;
}









